body, html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(black, indigo, cyan, goldenrod, darkred);
    font-family: monospace;
    text-align: center;
}

#play-screen, #win-screen, #draw-screen {
    display: none;
}

#game-board {
    margin-top: 50px;
    margin-bottom: 50px;
}

td {
    width: 200px;
    border: 1px solid black;
    font-size: 80px;
}

tr {
    height: 200px;
}

h1 {
    color: yellow;
}

h4 {
    color: rgb(255, 174, 0);
}

input {
    background-color: black;
    border: 5px solid black;
    border-radius: 10%;
    color: silver;
    text-align: center;
    margin-top: 30px;
}

.box {
    background-color: rgba(255, 255, 255, .4);
    margin: 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
}

#start-btn {
    border: 3px solid black;
    border-radius: 5%;
    background-image: radial-gradient(pink, darkred);
    height: 50px;
    width: 200px;   
    margin-top: 30px; 
    margin-bottom: 30px; 
}